<form method="post" action="/authenticate">
    <h1>Login</h1>
    <a id="create-profile" href="/create-profile">Create Profile</a>
    
    <div id="login-body">
        <label id="username-label" for="username-input">Enter Username</label>
        <input id="username-input" name="username" type="text">
        <input id="login-button" type="submit" value="Go">
    </div>
</form>